# Project exclude paths
/common/foodie-cloud-common/target/
/common/foodie-cloud-shared-pojo/target/
/common/foodie-cloud-web-components/target/
/domain/auth/foodie-auth-service/target/
/domain/cart/foodie-cart-web/target/
/domain/item/foodie-item-api/target/
/domain/item/foodie-item-mapper/target/
/domain/item/foodie-item-pojo/target/
/domain/item/foodie-item-service/target/
/domain/item/foodie-item-web/target/
/domain/order/foodie-order-mapper/target/
/domain/order/foodie-order-web/target/
/domain/user/foodie-user-mapper/target/
/domain/user/foodie-user-web/target/
/platform/config-server/target/
/platform/gateway/target/
/platform/hystrix-dashboard/target/
/platform/hystrix-turbine/target/
/platform/registry-center/target/
/platform/zipkin-server/target/